<div class="w-5/6 mx-auto max-w-screen-xl ">
  <h1 class="text-center text-3xl font-bold mt-8">プロフィール</h1>
  <div class="container mx-auto my-8">
    <div class="flex justify-center">
      <div class="w-full max-w-md">
        <div class="p-4 shadow-lg rounded-lg bg-white">
          <%= form_with model: @user, url: mypage_path, local: true do |f| %>
            <div class="mb-4">
              <%= f.label :name, "ユーザー名", class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= f.text_field :name, id: :user_name, class: "form-input mt-1 block w-full" %>
            </div>
            <div class="mb-4">
              <%= f.label :email, "メールアドレス", class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= f.email_field :email, id: :user_email, class: "form-input mt-1 block w-full" %>
            </div>
            <div class="mb-4">
              <%= f.label :password, "新しいパスワード（変更する場合）", class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= f.password_field :password, id: :user_password, class: "form-input mt-1 block w-full" %>
            </div>
            <div class="mb-4">
              <%= f.label :password_confirmation, "新しいパスワードの確認", class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= f.password_field :password_confirmation, id: :user_password_confirmation, class: "form-input mt-1 block w-full" %>
            </div>
            <div class="mb-4">
              <%= f.label :avatar, "アイコン画像", class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= f.file_field :avatar, id: :user_avatar, class: "form-input mt-1 block w-full", data: { controller: "avatar-preview", action: "change->avatar-preview#preview" } %>
            </div>
            <div class="mb-4">
              <%= image_tag(@user.avatar.present? ? @user.avatar.url : 'default.webp', id: "avatar-preview", alt: "Avatar Preview", class: "w-20 h-20 rounded-full mx-auto") %>
            </div>
            <div class="flex justify-center">
              <%= f.submit "更新", class: "px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-700" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>