<!DOCTYPE html>
<html>
  <head>
    <title>EmoBridge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="google-site-verification" content="OmV17j4-1T-fdTkdVwJaygJEm5qOu4T7OxHfyrT0npM" />
  </head>

  <body>
  <% if logged_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>
    <%= render 'shared/flash_message' %>
  <main class="pb-12">
      <%= yield %>
  </main>
  <% if logged_in? %>
    <%= render 'shared/footer' %>
  <% else %>
    <%= render 'shared/before_login_footer' %>
  <% end %>
  </body>
</html>
